html, body {
  height: 100%;
}

body {
  margin: 0;
}

#menu {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: white;
  border-right: 1px solid black;
  padding-top: 7vh;
  z-index: 3;
  overflow-y: auto;
}

canvas {
  width: 100%;
  height: 100%;
  grid-row: 1 / 7;
  grid-column: 1 / 6;
}

#drawingCanvas {
  touch-action: none;
}

.canvasView {
  display: grid;
  height: 100%;
  width: 100%;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-row: 1;
}

.analyzeView {
  display: grid;
  height: 100%;
  width: 100%;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

.stats {
  background-color: white;
  grid-row: 1 / 7;
  grid-column: 6 / 7;
  padding-top: 6vh;
  z-index: 1;
  border: 1px solid black;
  grid-auto-rows: 1fr;
  display: grid;
}

.stat {
  margin: 0.5vh 0.5vw;
  font-size: 1.25vw;
  grid-column: 1;
  grid-row: span 3;
}

.pred {
  grid-row: span 1;
  align-items: center;
  display: flex;
}

.nav {
  position: absolute;
  display: flex;
  top: 0px;
  width: 100%;
  pointer-events: none;
  z-index: 2;
}

.left {
  flex-flow: row;
}

.right {
  flex-flow: row-reverse;
}

.middle {
  flex-flow: row;
  justify-content: center;
}

.option {
  margin: 1px;
  pointer-events: auto;
  padding: 1.5vh 1.5vw;
  font-size: 1.75vw;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: lightgreen;
}

.setting {
  margin: 2vh 2vw;
  font-size: 1.5vw;
}

.comparison {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding: 10vh 10vw;
  display: flex;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5);
}

.table {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  gap: 5px;
  padding: 5px;
  background-color: darkgray;
  text-align: center;
}

.cell {
  background-color: white;
  grid-row: span 1;
  padding: 1vh 1vw;
}

.predCol {
  background-color: lightyellow;
  grid-column: 1;
}

.title {
  background-color: lightgray;
}

.timePredCol {
  grid-column: 2;
}

.posCol {
  grid-column: 3;
}

.timeCol {
  grid-column: 4;
}

.lineCol {
  grid-column: 5;
}

.angleCol {
  grid-column: 6;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}